<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-US | Gaming-Gear Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

        body {
            font-family: 'Mitr', sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .content {
            flex: 1;
        }

        footer {
            flex-shrink: 0;
        }
    </style>

</head>

<body>

    <header>
        <%- include('navbar') %>
    </header>

    <div class="content mt-5">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <img src="images/contact/1.jpg"
                            class="card-img-top" alt="..." style="max-width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Jaturong Sarak</h5>
                            <p class="card-text">116410906121-1
                                <br>IG : 26.BALL
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <img src="images/contact/2.jpg"
                            class="card-img-top" alt="..." style="max-width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Sutthikan Yaemyim</h5>
                            <p class="card-text">116410906018-9 <br>IG : Edward_posh </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <img src="images/contact/3.jpg"
                            class="card-img-top" alt="..." style="max-width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Natthawut Wisetsuwan</h5>
                            <p class="card-text">116410906036-1 <br>IG : flk.ntw_</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>

</body>

</html>